// Responsive breakpoints
$fs-breakpoint-xxsmall: 320px !default;
$fs-breakpoint-xsmall: 660px !default;
$fs-breakpoint-small: 900px !default;
$fs-breakpoint-medium: 1100px !default;
$fs-breakpoint-large: 1800px !default;

@mixin mobile {
  @media only screen and (max-width: $fs-breakpoint-xsmall) {
    @content;
  }
}

@mixin tablet-portrait {
  @media only screen and (min-width: $fs-breakpoint-xsmall + 1) and (max-width: $fs-breakpoint-small) {
    @content;
  }
}

@mixin tablet-landscape {
  @media only screen and (min-width: $fs-breakpoint-small + 1) and (max-width: $fs-breakpoint-medium) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $fs-breakpoint-medium + 1) and (max-width: $fs-breakpoint-large) {
    @content;
  }
}

@mixin large-desktop {
  @media only screen and (min-width: $fs-breakpoint-large  + 1) {
    @content;
  }
}

// Inclusive range going up
@mixin min-tablet-portrait {
  @media only screen and (min-width: $fs-breakpoint-xsmall + 1) {
    @content;
  }
}

@mixin min-tablet-landscape {
  @media only screen and (min-width: $fs-breakpoint-small + 1) {
    @content;
  }
}

@mixin min-desktop {
  @media only screen and (min-width: $fs-breakpoint-large + 1) {
    @content;
  }
}

// Inclusive range going down
@mixin max-desktop {
  @media only screen and (max-width: $fs-breakpoint-large) {
    @content;
  }
}

@mixin max-tablet-landscape {
  @media only screen and (max-width: $fs-breakpoint-medium) {
    @content;
  }
}

@mixin max-tablet-portrait {
  @media only screen and (max-width: $fs-breakpoint-small) {
    @content;
  }
}

@mixin max-mobile {
  @media only screen and (max-width: $fs-breakpoint-xsmall) {
    @content;
  }
}

@mixin min-mobile {
  @media only screen and (max-width: $fs-breakpoint-xxsmall) {
    @content;
  }
}

@font-face {
  font-family: 'New Rail';
  src: url('../typefaces/new-rail-normal.otf') format('truetype');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'New Rail';
  cursor: default;
  letter-spacing: 1px;
  font-weight: normal;
  -webkit-text-stroke: 0.5px;
  font-size: 30px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

.or-page {
  position: relative;
}

.or-scroll {
  overflow: hidden;
}

.or-scroll--active {
  overflow: auto;
}

.or-splash-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.or-splash-container--close {
  display: none;
}

.or-splash-image {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  filter: blur(1.5em);
  -webkit-filter: blur(1.5em);
}

.or-splash-text {
  font-size: 10vw;
  mix-blend-mode: difference;
  color: yellow;

  &:hover {
    cursor: pointer;
  }
}

.or-header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  a {
    color: black;

    &:hover {
      color: blue;
    }
  }
}

.or-header-container--home {
  mix-blend-mode: difference;
  z-index: 100;
  display: none;

  a {
    color: white;

    &:hover {
      color: blue;
    }
  }
}

.or-header-container--show {
  display: block;
}

.or-header-container-inner {
  display: flex;
  padding-top: 10px;
  width: fit-content;
  margin: 0 auto;
}

.or-header-container-item {
  padding-right: 10px;

  &:last-child {
    padding-right: 0px;
  }
}

.or-page-nav-container {
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 100;

  a {
    &:hover {
      color: blue;
    }
  }
}

.or-page-nav-container-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.or-page-nav-container-item {
  padding-right: 10px;
  padding-bottom: 5px;

  a {
    color: black;
  }

  &:last-child {
    padding-right: 0px;
  }
}

.or-feed-container {
  width: 100%;
  z-index: 0;
}

.or-image-feed-container {
  padding-top: 300px;
  width: 40%;
  margin: 0 auto;
}

.or-image-feed-item {
  margin-bottom: 20px;
}
