// Responsive breakpoints
$fs-breakpoint-xxsmall: 320px !default;
$fs-breakpoint-xsmall: 660px !default;
$fs-breakpoint-small: 900px !default;
$fs-breakpoint-medium: 1100px !default;
$fs-breakpoint-large: 1800px !default;

@mixin mobile {
  @media only screen and (max-width: $fs-breakpoint-xsmall) {
    @content;
  }
}

@mixin tablet-portrait {
  @media only screen and (min-width: $fs-breakpoint-xsmall + 1) and (max-width: $fs-breakpoint-small) {
    @content;
  }
}

@mixin tablet-landscape {
  @media only screen and (min-width: $fs-breakpoint-small + 1) and (max-width: $fs-breakpoint-medium) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $fs-breakpoint-medium + 1) and (max-width: $fs-breakpoint-large) {
    @content;
  }
}

@mixin large-desktop {
  @media only screen and (min-width: $fs-breakpoint-large  + 1) {
    @content;
  }
}

// Inclusive range going up
@mixin min-tablet-portrait {
  @media only screen and (min-width: $fs-breakpoint-xsmall + 1) {
    @content;
  }
}

@mixin min-tablet-landscape {
  @media only screen and (min-width: $fs-breakpoint-small + 1) {
    @content;
  }
}

@mixin min-desktop {
  @media only screen and (min-width: $fs-breakpoint-large + 1) {
    @content;
  }
}

// Inclusive range going down
@mixin max-desktop {
  @media only screen and (max-width: $fs-breakpoint-large) {
    @content;
  }
}

@mixin max-tablet-landscape {
  @media only screen and (max-width: $fs-breakpoint-medium) {
    @content;
  }
}

@mixin max-tablet-portrait {
  @media only screen and (max-width: $fs-breakpoint-small) {
    @content;
  }
}

@mixin max-mobile {
  @media only screen and (max-width: $fs-breakpoint-xsmall) {
    @content;
  }
}

@mixin min-mobile {
  @media only screen and (max-width: $fs-breakpoint-xxsmall) {
    @content;
  }
}

@font-face {
  font-family: 'New Rail';
  src: url('../typefaces/new-rail-normal.otf') format('truetype');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'New Rail';
  cursor: default;
  letter-spacing: 2px;
  font-weight: normal;
  -webkit-text-stroke: 1px;
  font-size: 30px;
  overflow-x: hidden;

  @include max-mobile {
    letter-spacing: 2px;
    -webkit-text-stroke: 0.5px;
  }
}

a {
  text-decoration: none;
  color: black;
}

li {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

.or-page {
  position: relative;
}

.or-header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  mix-blend-mode: difference;
  z-index: 100;
}

.or-header-container-inner {
  display: flex;
  padding-top: 10px;
  width: fit-content;
  margin: 0 auto;
}

.or-header-container-item {
  padding-right: 15px;

  a {
    color: white;

    &:hover {
      color: blue;
    }
  }

  &:last-child {
    padding-right: 0px;
  }
}

.or-feed-container {
  width: 100%;
  z-index: 0;
}
